*{
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 114, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 50px 20px ;
    text-align: center;
    width: 800px;
    max-width: 100%;
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.1) , 0 6px 6px rgb(0, 0, 0,0.1);

}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}
.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: violet;
    color: black;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0,0.1) , 0 6px 6px rgb(0, 0, 0,0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;    
}
.btn:focus {
    outline: 0;
}
.btn:active{
    transform: scale(0.98);
}
